.blueShadeBackground{
    background-color:  #262165;
}

.grayShadeBackground{
    background-color: #f2f2f2;
}

.redShadeBackground{
    background-color: #D2452D;
}

.whiteShadeBackground{
    background-color: #ffff;
}

.darkGrayColor{
    color:#4ba68f;
}

.redColor{
    color: #D2452D;
}